[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
django-environ = "==0.10.0"
asgiref = "==3.6.0"
sqlparse = "==0.4.3"
tzdata = "==2022.7"
psycopg2 = "*"
markdown = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
