{% extends '_base.html' %}

{% block title %}My Account{% endblock title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-8 col-10">
        <div class="card">
            <div class="card-header">
                <h3 class="text-muted">@{{ user.username }}</h3>
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-success">Save Changes</button>
                </form>
            </div>
            <div class="card-footer">
                {% if token.key %}
                    Token:  <small class="text-muted">{{ token.key }}</small>
                {% else %}
                    <div class="row">
                        <div class="col-6">
                            You have no token key
                        </div>
                        <div class="col-6">
                            <a href="{% url 'get-token' %}" type="submit" class="btn btn-primary btn-sm">generate one</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}