{% extends '_base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock stylesheet %}

{% block title %}{{ post.title }} - Django blogs {% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<div class="post-detail container">
    <h1>{{ post.title }}</h1>
    <ul>
        <li>By {{ post.author }}</li>
        <li>
            <i class="fa-solid fa-calendar-days text-muted"></i>
            <span class="text-muted">{{ post.publish|date:"M d, Y" }}</span>
        </li>
        <li>
            <i class="fa-regular fa-comment text-muted"></i>
            <span class="text-muted">{{ comments.count }} comment{{ comments.count|pluralize }}</span>
        </li>
    </ul>

    {{ post.body|linebreaks }}

    <div class="mb-2">
        <a href="{% url 'blog:post_share' pk=post.pk %}" class="btn btn-outline-primary">Share Post</a>
    </div>

    <!-- comments -->
    <div class="comments mt-3">
        <div class="card my-3">
            <div class="card-body">
                <h5>Add a comment</h5>
                <form method="post">
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-success">Add comment</button>
                </form>
            </div>
        </div>

        {% for comment in comments %}
        <div class="card mb-3">
            <div class="card-header text-muted">
                {{ comment.email }} - {{ comment.created|date:"M d, Y" }}
            </div>
            <div class="card-body">
                {{ comment.body|linebreaks }}
            </div>
        </div>
        {% empty %}
        <div class="alert alert-danger" role="alert">No comment yet ):</div>
        {% endfor %}
    </div>
</div>

{% endblock content %}