{% extends "_base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item text-light p-1">Home</li>
{% endblock breadcrumb %}


{% block content %}
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th scope="col">Board</th>
                <th scope="col">Posts</th>
                <th scope="col">Topics</th>
                <th scope="col">Last Post</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for board in boards %}
            <tr>
                <td scope="row">
                    <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
                    <br />
                    <small class="text-small text-muted">
                        {{ board.description }}
                    </small>
                </td>
                <td>{{ board.get_posts_count }}</td>
                <td>{{ board.topics.count }}</td>
                <td>
                    {% with post=board.get_last_post %}
                        {% if post %}
                            <small>
                                <a href="{% url 'topic_posts' board.pk post.topic.pk %}">
                                    By {{ post.created_by.username }} at {{ post.created_at|date:"M d, Y" }}
                                </a>
                            </small>
                        {% else %}
                            <small class="text-muted">
                                <em>No posts yet.</em>
                            </small>
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
            {% empty %}
            <tr>No board available.</tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock content %}